.container {
  background-image: url("../images/astronaut.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.btn_custom {
  background-color: #8d75ee;
  border-color: black;
}

.btn-custom:hover {
  background-color: #8d75ee;
  border-color: white;
}

.cus_col {
  color: #6fdbf0;
}
